In [2]:
#Problem 1
#How many rows are in each dataset?

# Rows in Census Data (Socieconimic Indicators)
%sql SELECT COUNT (*) FROM CENSUS_DATA;

# Rows in Public Schools
%sql SELECT COUNT (*) FROM CHICAGO_PUBLIC_SCHOOLS;

# Rows in Crime Data
%sql SELECT COUNT (*) FROM CHICAGO_CRIME_DATA;

IndentationError: unexpected indent (<ipython-input-2-927b0de059ae>, line 32)

In [ ]:
#Problem 2
#Find average college enrollments by community area

%sql SELECT "Community_Area_Name", AVG("College_Enrollment__number_of_students_") AS "AVG_COLLEGE_ENROLLMENT"\
FROM CHICAGO_PUBLIC_SCHOOLS \
GROUP BY "Community_Area_Name" ;

In [ ]:
#Problem 3
#Find the number of schools that are healthy school certified

%sql SELECT COUNT(*) as number_of_schools FROM CHICAGO_PUBLIC_SCHOOLS WHERE "Healthy_Schools_Certified_" = 'Yes';

In [ ]:
#Problem 4
#How many observations have a Location Description value of GAS STATION

%sql SELECT COUNT(*) as value_of_GAS_STATION FROM CHICAGO_CRIME_DATA WHERE "Location_Description" = 'GAS STATION';

In [ ]:
#Problem 5
#Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order.

%sql SELECT "Community_Area_Name", COUNT("Community_Area_Name") AS "Number_of_Schools" 
    FROM CHICAGO_PUBLIC_SCHOOLS
    GROUP BY "Community_Area_Name"
    ORDER BY "Number_of_Schools" DESC
    LIMIT    10;

In [ ]:
#Problem 6
#How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable (this is the number of crimes related to Motor vehicles)

%sql SELECT COUNT(*) AS "thisis the number of crimes related to Motor vehicles" \
FROM CHICAGO_CRIME_DATA WHERE "Primary_Type" = 'MOTOR VEHICLE THEFT';

In [ ]:
#Problem 7
#Find the minimum “Average Student Attendance” for community are where hardship is 96. Hint: use INNER JOIN

%sql SELECT MIN("Average_Student_Attendance") as "Average Student Attendanc" \
FROM CHICAGO_PUBLIC_SCHOOLS \
INNER JOIN CENSUS_DATA ON CHICAGO_PUBLIC_SCHOOLS."Community_Area_Number" = CENSUS_DATA."Community_Area_Number" \
WHERE "HARDSHIP_INDEX" = 96